@media only screen and (max-width: 720px){
    .container{
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);

    }
    .email{
        width: 300px;
        height: 40px;
        margin-right: 3px;
    }

    .button{
        width: 300px;
        height: 40px;
        margin-top: 30px;
        padding-top: 0px;
    }

    .image{
        width: 400px;
    }

    #error{
        position: absolute;
        justify-content: center;
        text-align: center;
        margin-left: 50px;
        min-width: 280px;
        top: 275px;
        margin-top: 0;
      
    }

    .logo{
        margin-top: 20px;
    }
    

}